body {
    color: white;
<<<<<<< HEAD
    font-family: Cambria, Cochin;
}

.container {
    margin-top: 160px;
=======
    font-family: Arial, sans-serif;
}

.container{
    margin-top:170px;
>>>>>>> ff440c62d80ee58179cd09efe59a23b449a71f9f
}

.transparent-bg {
    padding: 20px;
    border-radius: 15px;
}

.option-div {
<<<<<<< HEAD
    background-color: rgba(8, 222, 161, 0.3);
=======
    width: 200px;
    height: 200px;
    background-color: rgba(6, 212, 123, 0.3);
>>>>>>> ff440c62d80ee58179cd09efe59a23b449a71f9f
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    margin: 10px;
=======
    margin: 15px;
>>>>>>> ff440c62d80ee58179cd09efe59a23b449a71f9f
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    flex-shrink: 0;
    transition: background-color 0.3s;
    position: relative;
    flex-direction: column;
}

/* For desktop screens */

@media (min-width: 769px) {
    .option-div {
        width: 18%;
        padding-top: 7%;  
        padding-bottom: 7%;
    }
}


@media (max-width: 768px) {
    .option-div {
        width: 40%;
         padding-top: 16%;  
         padding-bottom: 16%;
    }
} 
.option-div:hover {
    background-color: rgba(124, 114, 114, 0.5);
}
.d-flex {
    display: flex !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center !important;
}
